/* Navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* Home Section */
#home{
    height: 856px;
    padding: 3px 100px;
    
}
#home::before{
    height: 980px;
    
}
#home h1{
    font-size: 2rem;
}
#home p{
    font-size: 0.9rem;
}
/* Services Section */

#services{
    flex-direction: column;
}

/* Client Section */
#clients{
    flex-wrap: wrap;
}
#clients img{
    margin: 20px 56px;
    height: 108px;
    width: 123px;
}

/* food items */
#fooditems{
    flex-direction: column;
}
/* Contactus Section */
#contact-box label{
    font-size: 1rem;
}
#contact-box input, #contact-box textarea {
    font-size: 1rem;
}

/*Footer */
.center{
    font-size: 12px;
}

input{
    font-size: 1rem;
}



/* utility class */
.h-primary {
    font-size: 1.8rem;
}

.h-secondary {
    font-size: 1rem;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}